<div class="option">
	<label for="sort-by">{{ 'collections.sort_dropdown.sort_label' | t }}</label>
	<select name="sort-by" id="sort-by">
		<option value="manual">{{ 'collections.sort_dropdown.sort_by_featured' | t }}</option>
		<option value="best-selling">{{ 'collections.sort_dropdown.sort_by_best_selling' | t }}</option>
		<option value="title-ascending">{{ 'collections.sort_dropdown.sort_by_title_asc' | t }}</option>
		<option value="title-descending">{{ 'collections.sort_dropdown.sort_by_title_desc' | t }}</option>
		<option value="price-ascending">{{ 'collections.sort_dropdown.sort_by_price_asc' | t }}</option>
		<option value="price-descending">{{ 'collections.sort_dropdown.sort_by_price_desc' | t }}</option>
		<option value="created-descending">{{ 'collections.sort_dropdown.sort_by_date_desc' | t }}</option>
		<option value="created-ascending">{{ 'collections.sort_dropdown.sort_by_date_asc' | t }}</option>
	</select>
</div>
