{% for link in linklists[section.settings.footer_link_list].links %}
	<a class="footer-link" href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}

{% if section.settings.show_payment and shop.enabled_payment_types != empty %}
	<div class="pay-icons">
		{% for type in shop.enabled_payment_types %}
			{% include 'asset_svg' with type %}
		{% endfor %}
	</div>
{% endif %}

<p>{{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="/">{{ shop.name }}</a></p>
<p>{{ powered_by_link }}</p>