<div class="social-icons">

	{% if settings.social_twitter != '' %}
		<a href="{{ settings.social_twitter }}">{{ settings.social_twitter }}<i class="fa fa-twitter fa-fw"></i></a>
	{% endif %}

	{% if settings.social_facebook != '' %}
		<a href="{{ settings.social_facebook }}">{{ settings.social_facebook }}<i class="fa fa-facebook fa-fw"></i></a>
	{% endif %}

	{% if settings.social_google != '' %}
		<a href="{{ settings.social_google }}">{{ settings.social_google }}<i class="fa fa-google-plus fa-fw"></i></a>
	{% endif %}

	{% if settings.social_youtube != '' %}
		<a href="{{ settings.social_youtube }}">{{ settings.social_youtube }}<i class="fa fa-youtube fa-fw"></i></a>
	{% endif %}

	{% if settings.social_vimeo != '' %}
		<a href="{{ settings.social_vimeo }}">{{ settings.social_vimeo }}<i class="fa fa-vimeo-square fa-fw"></i></a>
	{% endif %}

	{% if settings.social_pinterest != '' %}
		<a href="{{ settings.social_pinterest }}">{{ settings.social_pinterest }}<i class="fa fa-pinterest fa-fw"></i></a>
	{% endif %}

	{% if settings.social_tumblr != '' %}
		<a href="{{ settings.social_tumblr }}">{{ settings.social_tumblr }}<i class="fa fa-tumblr fa-fw"></i></a>
	{% endif %}

	{% if settings.social_instagram != '' %}
		<a href="{{ settings.social_instagram }}">{{ settings.social_instagram }}<i class="fa fa-instagram fa-fw"></i></a>
	{% endif %}

	{% if settings.social_linkedin != '' %}
		<a href="{{ settings.social_linkedin }}">{{ settings.social_linkedin }}<i class="fa fa-linkedin fa-fw"></i></a>
	{% endif %}

	{% if settings.social_flickr != '' %}
		<a href="{{ settings.social_flickr }}">{{ settings.social_flickr }}<i class="fa fa-flickr fa-fw"></i></a>
	{% endif %}

	{% if settings.social_email != '' %}
		<a href="mailto:{{ settings.social_email }}">{{ settings.social_email }}<i class="fa fa-envelope-o fa-fw"></i></a>
	{% endif %}

</div>