{% if template contains 'article' or template contains 'blog' %}

	{% capture share_link %}{{ shop.url }}{{ article.url }}{% endcapture %}
	{% capture share_title %}{{ article.title | url_param_escape }}{% endcapture %}
	{% capture share_img %}{{ article.featured_image.src | img_url: '1024x1024' }}{% endcapture %}

{% elsif template contains 'product' %}

	{% capture share_link %}{{ shop.url }}{{ product.url }}{% endcapture %}
	{% capture share_title %}{{ product.title | url_param_escape }}{% endcapture %}
	{% capture share_img %}{{ product.featured_image | product_img_url: '1024x1024' }}{% endcapture %}

{% elsif template contains 'collection' %}

	{% capture share_link %}{{ shop.url }}{{ collection.url }}{% endcapture %}
	{% capture share_title %}{{ collection.title | url_param_escape }}{% endcapture %}

	{% if collection.image %}
		{% capture share_img %} {{ collection | img_url: '1024x1024' }} {% endcapture %}
	{% else %}
		{% capture share_img %} {{ collection.products.first | img_url: '1024x1024' }} {% endcapture %}
	{% endif %}

{% elsif template == 'password' %}

	{% capture share_link %}{{ shop.url }}{% endcapture %}
	{% capture share_title %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
	{% assign share_img = '' %}

{% endif %}

<a class="share-on-facebook" target="_blank" href="//www.facebook.com/sharer.php?u={{ share_link }}"><i class="fa fa-fw fa-facebook"></i></a>
<a class="share-on-twitter" target="_blank" href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}"><i class="fa fa-fw fa-twitter"></i></a>
<a class="share-on-google" target="_blank" href="//plus.google.com/share?url={{ share_link }}"><i class="fa fa-fw fa-google-plus"></i></a>
<a class="share-on-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}"><i class="fa fa-fw fa-pinterest"></i></a>
<!-- <a class="share-on-mail" target="_blank" href="mailto:youremail@domain.com?subject=Look what i've found&amp;body=Check out {{ share_title }}: {{ share_link }}"><i class="fa fa-fw fa-mail"></i></a> -->