<div id="page-content" class="clearfix">

	<div id="recover_password">

		{% form 'reset_customer_password' %}

			<header class="page-title">
				<h1 class="title">{{ 'customers.password_reset_page.title' | t }}</h1>
				<span class="subtitle">{{ 'customers.password_reset_page.subtitle' | t: email: email }}</span>
			</header>

			{% include 'form-errors' %}

	        <label for="ResetPassword" class="hidden-label">{{ 'customers.password_reset_page.password_label' | t }}</label>
	        <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customers.password_reset_page.password_label' | t }}">

	        <label for="PasswordConfirmation" class="hidden-label">{{ 'customers.password_reset_page.password_confirm_label' | t }}</label>
	        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customers.password_reset_page.password_confirm_label' | t }}">

			<input type="submit" class="button color" value="{{ 'customers.password_reset_page.submit' | t }}">

		{% endform %}

	</div>
	
</div>