<!doctype html>
<!--[if lt IE 8]><html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 

	{% if settings.favicon %}
		<link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
	{% endif %}

	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}

	{% include 'head_open-graph' %}

	<link rel="canonical" href="{{ canonical_url }}">

	{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' | stylesheet_tag }}
	{{ 'css_main.scss.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}

	{% if template contains 'customers' %}
		{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
		{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}


	{% include 'head_fonts' %}
		
  <noscript>
    {{ 'css_noscript.scss.css' | asset_url | stylesheet_tag }}
  </noscript>

	{{ 'js_product.js' | asset_url | script_tag }}




{% comment %} <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js'></script>
 {% endcomment %}


{{ 'https://code.jquery.com/jquery-2.2.4.min.js' | script_tag }}

{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js" type="text/javascript" defer="defer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.css" />

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} no-touch clearfix">

	{% section 'sidebar' %}

	<div id="content-holder">

		<main id="content" role="main">

			{{ content_for_layout }}

		</main>

	</div>

	<div id="main-overlay">

		{% include 'main_overlay-actions' %}

	</div>

	<script type="text/javascript">
	
		// Saving theme settings and local translations as global variables

		jQuery.themeSettings = {
			cart_action: "{{ settings.cart_action }}"
		}
		
		jQuery.themeWords = {
			products_page_share_text: "{{ 'products.page.share_text' | t }}",
			products_page_more_description_label: "{{ 'products.page.more_description_label' | t }}",
			products_page_less_description_label: "{{ 'products.page.less_description_label' | t }}"
		}

		{% capture jQuery_left_icon %} {% include "asset_svg" with "left_icon" %} {% endcapture %}
		{% capture jQuery_right_icon %} {% include "asset_svg" with "right_icon" %} {% endcapture %}
		{% capture jQuery_arrow_icon %} {% include "asset_svg" with "arrow_icon" %} {% endcapture %}

		jQuery.themeAssets = {
			arrowLeft: '{{ jQuery_left_icon | lstrip | rstrip }}',
			arrowRight: '{{ jQuery_right_icon | lstrip | rstrip }}',
			arrowDown: '{{ jQuery_arrow_icon | lstrip | rstrip }}',
			mgnpop: "{{ 'js_magnific.popup.min.js' | asset_url }}"
		}
		
	</script>

	<script type="text/javascript">

		window.shop_money_format = "{{ shop.money_format }}";

		window.product_words_add_to_cart_button = "{{ 'products.page.add_to_cart_button' | t }}";
		window.product_words_sold_out_variant = "{{ 'products.page.inventory.sold_out_variant' | t }}";
		window.product_words_unavailable_variant = "{{ 'products.page.inventory.unavailable_variant' | t }}";
		window.product_words_one_product = "{{ 'products.page.inventory.one_product' | t }}";
		window.product_words_few_products = "{{ 'products.page.inventory.few_products' | t }}";
		window.product_words_no_products = "{{ 'products.page.inventory.no_products' | t }}";
		window.product_words_preorder = "{{ 'products.page.inventory.preoder' | t }}";

	</script>

	{{ 'js_plugins.min.js' | asset_url | script_tag }}
	{{ 'js_scripts.js' | asset_url | script_tag }}

</body>
</html>