<div>

  <style type="text/css">
    #newsletter-box:before {
      background-image: url({{ section.settings.bg | img_url: '900x' }});
    }
  </style>

  <div id="newsletter-box" class="{% unless section.settings.bg %}no-image {% endunless %}clearfix" data-newsletter_check="true" data-newsletter_confirm="{{ 'general.newsletter.confirmation' | t }}" data-enable="{{ section.settings.newsletter_enable }}"  data-show="{{ section.settings.newsletter_auto }}" data-freq="{{ section.settings.newsletter_frequent }}">

    <h5>{{ section.settings.title | escape }}</h5>
    <div id="newsletter-text" class="rte">{{ section.settings.content }}</div>

    {% if section.settings.newsletter_form_action != blank %}
      {% assign form_action = section.settings.newsletter_form_action %}
    {% else %}
      {% assign form_action = '#' %}
    {% endif %}

    {% form 'customer' %}

      {{ form.errors | default_errors }}

      {% if form.posted_successfully? %}

        <div class="note form-success">{{ 'general.newsletter.confirmation' | t }}</div>

      {% else %}

        <div class="input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter.email_label' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter.email_label' | t }}" autocorrect="off" autocapitalize="off">
          <input type="submit" name="commit" id="Subscribe" value="{{ 'general.newsletter.submit_button' | t }}">
        </div>

      {% endif %}

    {% endform %}

    <a href="#" class="close main">{% include 'asset_svg' with 'close_icon' %}</a>

  </div>

</div>

{% schema %}
  {
    "name": "Newsletter",
    "class": "newsletter-section table-display",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "bg",
        "label": "Header image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Subtitle",
        "default": "<p>Stay up to date on the latest product releases, special offers &amp; news by signing up for our newsletter.</p>"
      }, 
      {
        "type": "header",
        "content": "Settings"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Enable popup",
        "default": true
      },
      {
        "type": "range",
        "id": "newsletter_auto",
        "label": "Show popup after",
        "min": 10,
        "max": 60,
        "step": 10,
        "unit": "sec",
        "default": 10
      },
      {
        "type": "select",
        "id": "newsletter_frequent",
        "label": "Popup frequency",
        "options": [
          {
            "value": "day",
            "label": "Show each day"
          },
          {
            "value": "week",
            "label": "Show each week"
          },
          {
            "value": "once",
            "label": "Show only once"
          }
        ]
      }
    ]
  }
{% endschema %}