<div id="page-content" class="clearfix">

	<header class="page-title">
		<h1 class="title">{{ page.title }}</h1>
	</header>

    <div class="rte">
		{{ page.content }}
    </div>

	{% form 'contact' %}

		<h3>{{ 'general.contact_form.title' | t }}</h3>

		{% if form.posted_successfully? %}
			<p class="note form-success">{{ 'general.contact_form.success_message' | t }}</p>
		{% endif %}

		{% include 'form-errors' %}

		<div class="krown-column-container span4 first">
			<label for="contactFormName" class="hidden-label">{{ 'general.contact_form.name_label' | t }}</label>
			<input type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'general.contact_form.name_label' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
		</div>

		<div class="krown-column-container span4">
			<label for="contactFormEmail" class="hidden-label">{{ 'general.contact_form.email_label' | t }}</label>
			<input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'general.contact_form.email_label' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
		</div>

		<div class="krown-column-container span4">
			<label for="contactFormPhone" class="hidden-label">{{ 'general.contact_form.phone_label' | t }}</label>
			<input type="tel" id="contactFormPhone" name="contact[phone]" placeholder="{{ 'general.contact_form.phone_label' | t }}" pattern="[0-9]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
		</div>

		<div class="krown-column-container span12 first">
			<label for="contactFormMessage" class="hidden-label">{{ 'general.contact_form.message_label' | t }}</label>
			<textarea rows="10" id="contactFormMessage" name="contact[body]" placeholder="{{ 'general.contact_form.message_label' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
		</div>



		<br style="clear:left" />

		<input type="submit" class="button color" value="{{ 'general.contact_form.submit_label' | t }}">

	{% endform %}

</div>